body{
    margin-top:0;
    margin-left:0;
    margin-right:0;
    font-family:Arial, Helvetica, sans-serif;
    /* border:1px solid orange; */

    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}
#container{
    /* border:1px solid blue; */
    
}
.subcontainer{
    display: flex;
}
.leftcontainer{
    width:160px;
    height:auto;
    /* background-color: palegreen; */
    position: relative;
    
}
.rightcontainer{
    width:160px;
    /* background-color: palegreen; */
    margin-top:0;
    position: relative;
    height:auto;
  
}
.leftimagecontainer{
    background-image: url(../Media/leftcontainer.png);
    background-repeat: no-repeat;
    width:160px;
    height:100vh;
    position: fixed;
    

}
.rightimagecontainer{
    background-image: url(../Media/rightcontainer.png);
    background-repeat: no-repeat;
    width:160px;
    height:100vh;
    position: fixed;
}

.middlecontainer{
    /* border:1px solid palevioletred; */
}

.header{
    position: fixed;
    z-index: 1;
    top:0;
    /* height: 120px; */
    /* box-sizing: border-box; */
    /* background-color: rgba(255,255,255,0.7); */
    background-color: white;
    margin-right:0;
}
#header1{
    height:25px;
    width: 1015px;
    /* border:1px solid red; */
    background-color:rgb(58, 57, 57);
    display: flex;
    padding:5px;
    justify-content: flex-end;
    color:rgb(214, 207, 207);

    
}
#coin{
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    /* font-size: 18px; */
    margin:0;
   
}
#imgcoin{
    height: 15px;
    width: 15px;
    margin:0;
    margin-top:1px;
}
.fa-user-plus{
    padding:0;
}
#signup{
    margin: 0;
    padding-top: 5px;
    padding-right: 1px;
}


#header2{
    width: 1015px;
}
#header2 #homeheader{
    /* border:5px solid violet; */
    display: grid;
    grid-template-columns: 210px repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height:85px;
    
    }

#logo{
    /* border: 1px solid red; */
    background-image: url(../Media/logo.jpg);
    background-repeat: no-repeat;
    border-right: 1px solid rgb(238, 233, 233);
    border-bottom: 1px solid rgb(238, 222, 222);
    grid-row:1/3;
    height: 70px;
    padding-top:4.6px;
    padding-bottom: 5px;
    background-color: white;

}
.mainheadings1{
    /* border:1px solid blue; */
    /* border-bottom: 1px solid rgb(88, 87, 87); */
    /* border:2px solid yellow; */
    display: flex;
    grid-column: 2/3;
}
.mainheadings2{
    /* border:1px solid blue; */
    /* border:2px solid yellow; */
    display: flex;
    grid-column: 2/3;
    height:40px;
    
    
}
.headings1{
    font-weight: 700;
    text-transform: uppercase;
    font-size:15px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.active{
    background-color: orange;
}
.headings1:hover{
    background-color: orange;
    transition: 0.2s ease;
}
.headings2{
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.2px;
    padding-right: 0.3px;
    background-color:rgb(231, 228, 228);
    margin-bottom:2px;
    display: flex;
    
    
    }
   
    .headings2housing{
        padding-right:8px;
        /* border:1px solid; */
    }
    .borderheight{
        width:0.05px;
        height:13px;
        border: 0.05px solid black;
        
    }
    .borderheight1{
        border: 0.05px solid transparent ;
    }
    .fa-chevron-square-up{
        padding:0;
        margin:0;
        padding-right:2px;
        color:rgb(255, 174, 0);
        font-size: 16px;
    }
    .searchbar{
        margin-left:50px;
        padding-right: 1.3px;

    }
    .fa-search{
        padding:2px;
        /* padding-right: 10px;; */
        font-size:14px; 
        margin-left:50px;
        margin-right:10px;
        border:1px solid black; 
        border-radius: 24px 24px;
        background-color: rgb(53, 52, 52);
        color:#ffff;
    }
#content1{
    /* border:1px solid darkgreen; */
    margin-top:140px;
    display: grid;
    grid-template-columns: 700px 325px;
}

#leftpane{
   display: grid;
    grid-template-columns: 700px; 
    grid-template-rows: 895px;
    /* height: auto; */
    /* border:1px solid saddlebrown; */
}
.articles{
    grid-column: 1/2;
}

#content1leftpane{
    /* border:1px solid yellow; */
    /* background-color: salmon; */
    display: grid;
    grid-template-columns: 450px 250px;
    grid-template-rows: 405px 490px;
   
}
.grid1{
    /* border:5px solid black; */
    grid-column: 1/2;
    background-image: url('../Media/india.com\ \(1\).webp');
    background-repeat: no-repeat;
    background-size: 450px 320px;

}
#text{
    background-color: rgb(31, 29, 29);
    color: white;
    margin-top: 320px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
    word-spacing: 2px;
}
#text:hover{
    color:rgb(16, 16, 214);
}
.grid2{
    /* background-color:turquoise; */
    grid-column: 1/2;
    grid-row: 2/3;
}
.news1{
    display: flex;
    padding-top:10px;
}
.news1image{
    height:110px;
    width:180px;
    /* border:1px solid red; */
}
.sourcetext{
    height:110px;
    width:250px;
    /* border:1px solid black; */
    margin-left:10px;
}
.maintext{
    margin:0;
    padding:0;
    color:rgb(238, 71, 10);
    /* letter-spacing: 1px; */
    font-size: 15px;
}
.subtext{
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 17px;
}
.image1{
    background-image: url(../Media/Facebook-Main-Article-2-238x134.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.image2{
    background-image: url(../Media/TalibanControlKabul-238x134.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    background-image: url(../Media/india-pakistan-238x134.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.image4{
    background-image: url(../Media/pjimage-19-6-238x134.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-horizontal-rule{
    transform: rotate(90deg);
    padding:0;
    margin:0;
    margin-top:10px;
    color: rgb(233, 76, 19);
}
#grid3{
    /* background-color: khaki; */
    grid-column: 2/3;
    grid-row: 1/3;
    
}
#grid3heading{
    font-size: 22px;
    font-weight: bold;
}
.topborder{
    border-top: 1px solid rgb(175, 167, 167);
    padding-top: 2px;
    margin-top:5px;
}
.topnews{
    margin-left:20px;
    margin-top:5px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-bottom: 1px solid rgb(175, 167, 167);
    font-size: 14px;
    /* background-color: hotpink; */
    line-height: 17px;
    padding-right:5px;
}
.leftpanefullview{
    border:1px solid rgb(177, 170, 170);
    border-bottom: 8px solid rgb(177, 170, 170);
    /* padding-bottom:10px; */
    display: flex;
    flex-direction: column;
    padding-left:12px;
    padding-right:12px;
    padding-top:12px;
    margin-top:30px;
    /* background-color: hotpink; */
    
}

.leftpanetopview{
    height:50px;
    border-bottom: 1px solid rgb(177, 170, 170);
    padding-left: 10px;

}
.leftheader{
    float:left;
    font-weight: bolder;
    font-size: 20px;
    margin-top:15px; 
   
}
.leftpara{
    float: right;
    

}
.fa-caret-right{
    padding-left:8px;
    padding-right:14px;
    color:rgb(219, 21, 21);
}
.topbox{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}
  

.leftviewtopbox{
    margin-top:5px;
    max-height: 380px;
    
}
.rightviewtopbox{
    margin-top:5px;
}
.leftpanetopviewimage{
    background-image: url(../Media/1stimage.jpg);
    height:200px;
    width:350px;
    background-repeat: no-repeat;
    background-size: 350px 200px;
    /* background-color: yellow; */
  
}
.leftpanetoppara{
margin-top:5px;
/* width:350px; */
font-weight: bolder;
font-size: 21px;
line-height: 24px;
}
.rightviewtopbox{
    display: flex;
    flex-direction: column;
    width:320px;
    /* background:seagreen; */
    min-height:301px;
}
.rightviewtopboxview{
    display: flex;
 
}
.rightpanetopviewimage{
    background-image: url(../Media/pjimage-111-150x150.webp);
    height:80px;
    width:300px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: yellow; */
    margin-left: 20px;
}
.rightpanetoppara{
    font-size: 17px;
    margin-top: 0;
    margin-left: 10px;
    line-height: 22px;
    
}
.rightviewbottompara{
    margin-left: 20px;
    border-bottom: 1px solid rgb(177, 170, 170);
    line-height: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-bottom: 7px;
    /* background-color: yellow; */
}
/* adding images */
.enetertainmentleftimage{
    background-image: url(../Media/entertainmentleft1.webp);
    background-size: cover;
}
.enetertainmentrightimage{
    background-image: url(../Media/entertainmentleft2.webp);
    background-size: cover;
}
.cricketleftimage{
    background-image: url(../Media/cricketleft1.webp);
    background-size: cover;
}
.cricketrightimage{
    background-image: url(../Media/cricketleft2.webp);
    background-size: cover;
}
.sportsleftimage{
    background-image: url(../Media/soprtsleft1.webp);
    background-size: cover;
}
.sportsrightimage{
    background-image: url(../Media/soprtsleft2.webp);
    background-size: cover;
}
.indialeftimage{
    background-image: url(../Media/indialeft1.webp);
    background-size: cover;
}

.indiarightimage{
    background-image: url(../Media/indialeft2.webp);
    background-size: cover;
}
.worldleftimage{
    background-image: url(../Media/worldleft1.webp);
    background-size: cover;
}

.worldrightimage{
    background-image: url(../Media/worldleft2.webp);
    background-size: cover;
}
.businessleftimage{
    background-image: url(../Media/businessleft1.jpg);
    background-size: cover;
}

.businessrightimage{
    background-image: url(../Media/businessleft2.webp);
    background-size: cover;
}
.educationleftimage{
    background-image: url(../Media/educationleft1.webp);
    background-size: cover;
}

.educationrightimage{
    background-image: url(../Media/educationleft2.webp);
    background-size: cover;
}
.techleftimage{
    background-image: url(../Media/technoleft1.webp);
    background-size: cover;
}

.techrightimage{
    background-image: url(../Media/technoleft2.webp);
    background-size: cover;
}
.lifestyleleftimage{
    background-image: url(../Media/lifestyleleft1.webp);
    background-size: cover;
}

.lifestylerightimage{
    background-image: url(../Media/lifestyleleft2.webp);
    background-size: cover;
}
.travelleftimage{
    background-image: url(../Media/travelleft1.webp);
    background-size: cover;
}

.travelrightimage{
    background-image: url(../Media/travelleft2.webp);
    background-size: cover;
}
.videoleftimage{
    background-image: url(../Media/videoleft1.webp);
    background-size: cover;
}

.videorightimage{
    background-image: url(../Media/videoleft2.webp);
    background-size: cover;
}

/* end of addingimages */
.add1{
    /* background:sienna; */
    height:260px;
    background-image: url(../Media/add1.png);
    background-size: cover;
    margin-left: 24px;
}
#mainrightpane{
    grid-column: 2/3;
    grid-row-start: 1;
}
.matchheader{
    margin-left:20px;
    border-bottom: 1px solid rgb(9, 189, 9);
    padding-bottom: 19px;

}
.linecolor{
    /* font-weight: bold; */
    margin-top:20px;
    float:left;
    /* font-size: 52px; */
    width:3px;
    height:120px;
    margin:0;
    padding: 0;
    background:linear-gradient(rgb(31, 153, 31),rgb(161, 231, 161));
    margin-top:20px;
    margin-left:6px;

}
#live,#scorecard{
    float:left;
    padding:5px;
    color:white;
    padding-top:7px;
    padding-bottom:7px;
    font-weight: bold;
    margin-top:25px;
    text-transform: uppercase;
    font-size: 15px;
    

}
#live{
    background:seagreen;
    padding-left:10px;
    padding-right:12px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
}
.livesymbol{
    width:4px;
    height:4px;
    background-color: red;
    margin-left:3px;
    border-radius: 3px 3px;    
    animation-name: sample;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animation-sample{
    from{background-color:white;}
    to{background-color:red;}
}

#scorecard{
    background:black;
    border-radius: 0px 5px 5px 0px;
    padding-right: 7px;

}
.fa-external-link-alt{
margin-top:27px;
margin-left:5px;

}

.matchheader2{
display: flex;
border-bottom:1px solid rgb(245, 239, 239) ;

}
 
#matchone,#matchtwo,#matchthree{
    margin:14px 12px 0px 23px;
    /* border:1px solid yellowgreen; */
    padding: 10px 7px 5px 7px;
    font-weight: bold;
}
#matchtwo{
    border-bottom: 3px solid darkgreen;
}
#matchone:hover,#matchtwo:hover,#matchthree:hover
{
    border-bottom: 3px solid darkgreen;
}
.matchheader3{
    /* background:yellowgreen; */
    margin-left: 18px;
    border-bottom:1px solid rgb(177, 170, 170) ;
    padding-bottom: 10px;
    margin-top:10px;
}
.matchheading1{
    /* margin-top:25px; */
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.matchheading2{
    display: flex;
    font-size: 15px;
    margin-top:2px;
    line-height: 19px;
}
.matchsubheading1{
    padding-right:65px;
}
.matchheading3{
    font-size: 13px;
    margin-top:5px;
}
.fuelline{
    background:linear-gradient(black,grey);
    margin-top:20px;
    float:left;
    width:3px;
    height:100px;
    margin:0;
    padding: 0;
    margin-left:6px;
 }
.fuelheader1{
    margin:34px 0px 4px 25px;
    /* border:1px solid yellowgreen; */
    padding: 10px 7px 5px 7px;
    font-weight: bold;
    border-bottom: 1px solid rgb(80, 83, 80);
}

.fuelheader2{
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid rgb(80, 83, 80);
    margin-left:24px;
    margin-bottom:15px;
}

.fuelsubheading2{
    margin-top:14px ;    
    /* border:1px solid yellowgreen; */
    font-weight: bold;
    
    
}
.fuelsubheading2:hover
{
    border-bottom: 3px solid red;

}
.fuelsubborder1{
    border-bottom: 3px solid red;
    padding: 10px 45px 5px 45px;
    margin-left:21px;
}

.fuelsubborder2{
    padding: 10px 30px 5px 30px;
}
.fuelcontent{
    display: flex;
    margin-left:25px;
    border-bottom: 1px solid rgb(170, 164, 164);
    /* border:1px solid pink; */
    padding-top:10px;
}
.fuelcontent1,.fuelcontent2,.fuelcontent3
{
    margin-bottom:10px;
    text-align: center;
    padding-left:21px;
    padding-right:21px;
    padding-top:2px;
    padding-bottom: 2px;

}
.fa-caret-up{
    color:red;
    padding-left:5px;
}
.fuelcontent3border{
    border:1px solid rgb(40, 201, 40);
    border-radius: 15px;
    font-size: 12px;
    padding-left:10px;
    padding-right:10px;
}
.fuelsubcontent{
    border-bottom: 1px solid transparent;
    padding-bottom:20px;
}
.add2{
    
    background:#d2d2d2;
    height:190px;
    margin-left:21px;
    padding:20px;
    text-align: center;
    box-shadow:1px 2px 1px #ccc;
    border-radius: 5px;
}
.form1font{
    position: relative;
}
.form1font i{
    position: absolute;
    left:180px;
    top:10px;
 
}
.far{
    background-color: white;
    color:rgb(184, 180, 180);
    border:1px solid transparent;
}
input[type=text]
{
    padding:11px;
    padding-left:15px;
    padding-right:55px;
}
.paraform{
    font-size: 10px;
    color:rgb(58, 56, 56)
}
.formsearch
{
    color:white;
    background-color:#a1a1a1;
    padding:8px;
    padding-left:8px;
    padding-right:8px;
    border-radius:25px;
    width:100px;
    margin-left:70px;
}
.formsearch:hover{
    background:#666;
    transition: .02s ease;
}
.paraform2{
    text-decoration: underline;
    font-size:12px;
    /* word-spacing: 2px; */
    letter-spacing: 1px;
}
.editorline{
    background:linear-gradient(red,rgb(240, 105, 105));
    margin-top:20px;
    float:left;
    width:3px;
    height:100px;
    margin:0;
    padding: 0;
    margin-left:6px;
 }
.editorheader1{
    margin:34px 0px 4px 25px;
    /* border:1px solid yellowgreen; */
    padding: 10px 7px 7px 7px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgb(199, 44, 44);
}
.editorcontent{
    display: flex;
    margin-left: 25px;
    margin-top:15px;
}
.editorcontentimage{
    height:60px;
    width:110px;
    /* background-color: lavender; */
}
.editorcontentinfo{
    /* background-color:lavender; */
    min-height:75px;
    width:180px;
    margin-left:10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 16px;
    padding-top:2px;
   
}
.editorcontentinfo:hover{
    color:blue;
}
.editorimage1{
    background-image: url(../Media/editorpic1.webp);
    background-size: cover;
}
.editorimage2{
    background-image: url(../Media/editorpic2.webp);
    background-size: cover;
}
.editorimage3{
    background-image: url(../Media/editorpic3.webp);
    background-size: cover;
}
.editorimage4{
    background-image: url(../Media/editorpic4.webp);
    background-size: cover;
}
.editorimage5{
    background-image: url(../Media/editorpic5.webp);
    background-size: cover;
}
.add3{
    /* background:sienna; */
    height:200px;
    margin-left:24px;
    background-image: url(../Media/add3.png);
    background-size: cover;
    margin-top:30px;
}
.hindinewsline{
    background:linear-gradient(rgb(3, 165, 177),rgb(116, 238, 247));
    margin-top:20px;
    float:left;
    width:3px;
    height:100px;
    margin:0;
    padding: 0;
    margin-left:6px;
 }
 .hindinewsheader1{
    border-bottom: 1px solid rgb(3, 165, 177);
}
.hindinewsimage1{
    background-image: url(../Media/hindinews1.webp);
    background-size: cover;
}
.hindinewsimage2{
    background-image: url(../Media/hindinews2.webp);
    background-size: cover;
}
.hindinewsimage3{
    background-image: url(../Media/hindinews3.webp);
    background-size: cover;
}
.hindinewsimage4{
    background-image: url(../Media/hindinews4.webp);
    background-size: cover;
}
.hindinewsimage5{
    background-image: url(../Media/hindinews5.webp);
    background-size: cover;
}
.viralline{
    background:linear-gradient(rgb(209, 8, 209) ,rgb(247, 126, 247) );
    margin-top:20px;
    float:left;
    width:3px;
    height:100px;
    margin:0;
    padding: 0;
    margin-left:6px;
 }
 .viralheader1{
    
    border-bottom: 1px solid rgb(209, 8, 209);
}
.viraltopiccontent{
    display: flex;
    flex-wrap: wrap;
    margin-left:24px;
    margin-top:15px;
}
.viraltopicsubcontent{
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom: 2px;;
    background-color:#d2d2d2;
    margin-left:8px;
    margin-top:3px;
    margin-bottom:5px;
    font-size: 15px;
}
.trendingnewsline{
    background:linear-gradient(rgb(255, 0, 140),rgb(250, 122, 192));
    margin-top:20px;
    float:left;
    width:3px;
    height:100px;
    margin:0;
    padding: 0;
    margin-left:6px;
 }
 .trendingnewsheader1{
    border-bottom: ipx solid rgb(255, 0, 140);
 }
 .trendingnewsimage1{
     background-image: url(../Media/trendingnews1.webp);
     background-size: cover;
 }
 .trendingnewsimage2{
    background-image: url(../Media/trendingnews2.webp);
    background-size: cover;
}
.trendingnewsimage3{
    background-image: url(../Media/trendingnews3.webp);
    background-size: cover;
}
.add5{
    background-image: url(../Media/add5.webp);
    background-size: 300px 200px;
    background-repeat: no-repeat;
    padding-bottom:18px;
    border-bottom: 1px solid #666;
    background-color: transparent;
    
}
.bollywoodnewsline{
    background:linear-gradient(rgb(255, 0, 140),rgb(250, 122, 192));
}
.bollywoodmainheader{
    text-align:center;
    margin-left: 24px;
    font-size: 23px;
    font-weight: bold;
    padding:20px;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}
.bollywoodsubheader{
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 0, 140);
}
.bollywoodsubheaderimage{
    background-image: url(../Media/bollywoodhead.webp);
    height:38px;
    background-repeat: no-repeat;
    width:110px;
    background-size: contain;
    
}
.bollywoodsubheadertext{
    padding-top:15px;
}
.bollywoodnewsimage1{
    background-image: url(../Media/bollywood1.webp);
    background-size: cover;
}
.bollywoodnewsimage2{
    background-image: url(../Media/bollywood2.webp);
    background-size: cover;
}
.bollywoodnewsimage3{
    background-image: url(../Media/bollywood3.webp);
    background-size: cover;
}
.bollywoodnewsimage4{
    background-image: url(../Media/bollywood4.webp);
    background-size: cover;
}
.bollywoodnewsimage5{
    background-image: url(../Media/bollywood5.webp);
    background-size: cover;
}
.cricketnews{
    margin-top:20px;
}
.cricketnewsline{
    background:linear-gradient(rgb(255, 9, 9),rgb(248, 88, 88));
}
.cricketsubheaderimage{
    background-image: url(../Media/cricketnew.png);
    height:38px;
    background-repeat: no-repeat;
    width:110px;
    background-size: contain;
}
.cricketsubheadertext{
    padding-top:2px;
}
.cricketnewsimage1{
    background-image: url(../Media/cricket1.webp);
    background-size: cover;
}
.cricketnewsimage2{
    background-image: url(../Media/cricket2.webp);
    background-size: cover;
}
.cricketnewsimage3{
    background-image: url(../Media/cricket3.webp);
    background-size: cover;
}
.cricketnewsimage4{
    background-image: url(../Media/cricket4.webp);
    background-size: cover;
}
.cricketnewsimage5{
    background-image: url(../Media/cricket5.webp);
    background-size: cover;
}
.technologynewsline{
    background:linear-gradient(rgb(209, 8, 209) ,rgb(247, 126, 247) );
}
.technologysubheader{
    
    border-bottom: 1px solid rgb(209, 8, 209);
}
.technologysubheaderimage{
    background-image: url(../Media/technology\ new.png);
    height:38px;
    background-repeat: no-repeat;
    width:110px;
    background-size: contain;
}
.technologysubtext{
    padding-top: 5px;
}
.technologynewsimage1{
    background-image: url(../Media/technology1.webp);
    background-size: cover;
}
.technologynewsimage2{
    background-image: url(../Media/technology2.webp);
    background-size: cover;
}
.technologynewsimage3{
    background-image: url(../Media/technology3.webp);
    background-size: cover;
}
.technologynewsimage4{
    background-image: url(../Media/technology4.webp);
    background-size: cover;
}
.technologynewsimage5{
    background-image: url(../Media/technology5.webp);
    background-size: cover;
}
.healthysubheaderimage{
    background-image: url(../Media/healthyheader.svg);
    height:38px;
    background-repeat: no-repeat;
    width:110px;
    background-size: contain;
}
.technologynewsline{
    background:linear-gradient(rgb(31, 153, 31),rgb(161, 231, 161));
    
}
.healthysubheader{
    border-bottom: 1px solid rgb(31, 153, 31);   
}
.healthynewsimage1{
    background-image: url(../Media/healthy1.webp);
    background-size: cover;
}
.healthynewsimage2{
    background-image: url(../Media/healthy2.webp);
    background-size: cover;
}
.healthynewsimage3{
    background-image: url(../Media/healthy3.webp);
    background-size: cover;
}
.healthynewsimage4{
    background-image: url(../Media/healthy4.webp);
    background-size: cover;
}
.healthynewsimage5{
    background-image: url(../Media/healthy5.webp);
    background-size: cover;
}

/* Footer Start */
.mainfooter{
    /* background-color: chocolate; */
    margin-top:40px;
    /* height:100px; */
    /* padding-left:40px; */
}
.footerheader{
    background-color: black;
    display: flex;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:180px
   
}
.footersubheader{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}
.fal {
       color: white;
       margin:0;
}
.footersocialmedia{
    display: flex;
    background-color: rgb(36, 33, 33);
    padding-left:170px
}
.footersocialtext{
    color:white;
    margin:10px;
}
.footersocialmediaimage{
    margin:10px 5px 10px 5px;
    /* background-color: bisque; */
    height:40px;
    width:60px; 
}
.socialmedia1{
    background-image: url(../Media/facebook.jpg);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    background-color:#3b5998;
    border-radius: 3px;
}
.socialmedia2{
    background-image: url(../Media/twitter.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    background-color:#1DA1F2;
    border-radius: 3px;
}
.footersites{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 33, 33);

}
.footersitestext{
    background-color: black;
    color:white;
    text-align: center;
    width:14%;
    padding:5px;
}
.footersitesimages{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 33, 33);
    padding-top :25px;
    padding-bottom:25px;
}
.footerimages{
    height:60px;
    width: auto;
    /* border:1px solid yellow; */
    margin-left:40px;
}
.footerimage1{
    background-image: url(../Media/logobollwood.png);
    background-repeat: no-repeat;
    width:118px;
}
.footerimage1:hover{
    background-image: url(../Media/bollywoodhead.webp);
    background-repeat: no-repeat;
    width:118px;
    background-size: contain;
}
.footerimage2{
    background-image: url(../Media/logocricket.png);
    background-repeat: no-repeat;
    width:150px;
}
.footerimage2:hover{
    background-image: url(../Media/crickethead.webp);
    background-repeat: no-repeat;
    width:150px;
    background-size: contain;
    /* margin-top:10px; */
}

.footerimage3{
    background-image: url(../Media/logohealthy.png);
    background-repeat: no-repeat;
    width:140px;
}
.footerimage3:hover{
    background-image: url(../Media/healthyheader.svg);
    background-repeat: no-repeat;
    width:140px;
    /* margin-top:10px; */
    /* padding-top:10px; */
    
}
.footerimage4{
    background-image: url(../Media/logobgr.png);
    background-repeat: no-repeat;
    width:120px;    
}
.footerimage4:hover{
    background-image: url(../Media/technologyheader.webp);
    background-repeat: no-repeat;
    width:120px;    
}
.footerend{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 33, 33);
}
.footerendtext{
    padding: 5px;
    color:#999;
}
.fad{
    color:#999;
}
.profiles{
    padding-top:14px;
}
.footercopyright{
    text-align: center;
    padding:10px;
    color:#999;
    background-color: rgb(36, 33, 33);
}
.bigarticle{
    margin-top:20px;
    height:400px;
    width:700px;
    /* background-color:cornflowerblue; */
    border-bottom:1px solid #dfdfdf;
}
.bigarticleimagesection{
    width:700px;
    height: 340px;
    /* background-color:firebrick; */
    
}
.bigarticlepara{
    padding:5px 5px 5px 0px;
}

.bigarticlepara:hover{
    text-decoration: underline;
} 
.bigarticletext{
    color:rgb(219, 203, 203);
    font-size: 14px;
    
}
.smallarticle{
    height:233px;
    width:700px;
    /* background-color:blue; */
    border-bottom:1px solid #dfdfdf;
    padding-bottom: 40px;
}
.smallarticleimagesection,.smallarticlepara{
    display: flex;
}
.imagesection1{
    height:180px;
    width:340px;
    /* background-color: turquoise; */
}
.imagesection2{
    height:180px;
    width:340px;
    margin-left:20px;
    /* background-color:red; */
}
.smallarticlesubpara1{
    width:340px;
    /* background-color: yellow; */
    min-height:50px;
    max-height: 100px;
}
.smallarticlesubpara2{
    width:340px;
    /* background-color: yellow; */
    min-height:40px;
    max-height: 100px;
    margin-left:20px;
    
}
.smallarticlesubpara1,.smallarticlesubpara2
{
    text-decoration: underline;
}
.smallarticletext{
    color:rgb(219, 203, 203);
    font-size: 14px;
    /* background-color:rgb(199, 44, 44); */
    display: flex;
    padding:3px;
}
.smallarticlesubtext1{
    width:340px;
    
}
.smallarticlesubtext2{
    width:340px;
    margin-left:20px;
}
/* Article Image adding */
.bigarticleimage1{
    background-image: url(../Media/bigarticle1.webp);
    background-size: cover;
}
.smallarticleimage1{
    background-image: url(../Media/smallarticleimage1.jpg);
    background-size: contain;   
}
.smallarticleimage2{
    background-image: url(../Media/smallarticleimage2.jpg);
    background-size: 340px 180px;   
}
.bigarticleimage2{
    background-image: url(../Media/bigarticle2.png);
    background-size: cover;
}
.smallarticleimage3{
    background-image: url(../Media/smallarticleimage3.webp);
    background-size: contain;   
}
.smallarticleimage4{
    background-image: url(../Media/smallarticleimage4.gif);
    background-size: 340px 180px;   
}
.bigarticleimage3{
    background-image: url(../Media/bigarticle3.jpg);
    background-size: 700px 400px;
}
.smallarticleimage5{
    background-image: url(../Media/smallarticleimage5.webp);
    background-size: contain;   
}
.smallarticleimage6{
    background-image: url(../Media/smallarticleimage6.webp);
    background-size: 340px 180px;   
}
.bigarticleimage4{
    background-image: url(../Media/bigarticle4.jpg);
    background-size: cover;
}
.smallarticleimage7{
    background-image: url(../Media/smallarticleimage7.jpeg);
    background-size: contain;   
}
.smallarticleimage8{
    background-image: url(../Media/smallarticleimage8.jpg);
    background-size: 340px 180px;
}
.smallarticleimage9{
    background-image: url(../Media/smallarticleimage9.webp);
    background-size: contain;   
}
.smallarticleimage10{
    background-image: url(../Media/smallarticleimage10.webp);
    background-size: 340px 180px;
}
.bigarticleimage5{
    background-image: url(../Media/bigarticle5.jpg);
    background-size: cover;
}
.bigarticleimage6{
    background-image: url(../Media/bigarticle6.webp);
    background-size: cover;
}
.bigarticleimage7{
    background-image: url(../Media/bigarticle7.jpg);
    background-size: cover;
}
.bigarticleimage8{
    background-image: url(../Media/bigarticle8.webp);
    background-size: cover;
}
.smallarticleimage11{
    background-image: url(../Media/smallarticleimage11.webp);
    background-size: contain;   
}
.smallarticleimage12{
    background-image: url(../Media/smallarticleimage12.webp);
    background-size: 340px 180px;
}
#contentsubleftpane{
    margin-bottom:50px;
}

/* DRopdown */
.headdrop{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.dropdown{
    /* padding-left: 5px; */
    background-color: white;
    display: block;
    transition: .5s;
    min-width: 107px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    top:95%;
    margin-left:5px;
}
.headdrop:hover .dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    position: absolute;
}
.dropdownborder{
    padding:5px;
    border-bottom: 1px solid rgb(235, 231, 231);
    
}
.dropdownborder:hover{
    background-color:orange;

}